<!DOCTYPE html>
<html lang="{{ .Language.Lang | default "ru" }}" itemscope itemtype="https://schema.org/WebPage">
{{ partial "head/head.html" . }}
{{ if eq .Kind "home" }}
    {{ .Scratch.Set "class" "home" }}
{{ else if eq .Kind "404" }}
    {{ .Scratch.Set "class" "404-page" }}
{{ else if eq .Kind "page" }}
    {{ .Scratch.Set "class" .Type }}
    {{ .Scratch.Add "class" " single" }}
{{ else }}
    {{ $type := replace .Type "/" " " }}
    {{ .Scratch.Set "class" $type }}
{{ end }}
<body class="{{ .Scratch.Get "class" }}">
<div class="wrapper">
    <div class="main">
        {{ block "main" . }}{{ end }}
    </div>
</div>
<script>
(function(){
    const bookshopLiveSetup = (CloudCannon) => {
      CloudCannon.enableEvents();
      CloudCannon?.setLoading?.("Loading Bookshop Live Editing");
      let triggeredLoad = false;
      const whenLoaded = () => {
        triggeredLoad = true;
        CloudCannon?.setLoading?.(false);
      }
      setTimeout(() => {
        if (!triggeredLoad) {
          CloudCannon?.setLoading?.("Error Loading Bookshop Live Editing");
          setTimeout(() => {
            if (!triggeredLoad) { whenLoaded() }
          }, 2000);
        }
      }, 12000);
  
      const head = document.querySelector('head');
      const script = document.createElement('script');
      script.onload = function() {
        window.bookshopLive = new window.BookshopLive({
          remoteGlobals: [],
          loadedFn: whenLoaded,
        });
        const updateBookshopLive = async () => {
          const frontMatter = await CloudCannon.value({
            keepMarkdownAsHTML: false,
            preferBlobs: true
          });
          const options = window.bookshopLiveOptions || {};
          const rendered = await window.bookshopLive.update(frontMatter, options);
          if (rendered) CloudCannon?.refreshInterface?.();
        }
        document.addEventListener('cloudcannon:update', updateBookshopLive);
        updateBookshopLive();
      }
      head.appendChild(script);
    }
  
    document.addEventListener('cloudcannon:load', function (e) {
      bookshopLiveSetup(e.detail.CloudCannon);
    });
  })();
</script>
</body>
</html>
