<!DOCTYPE html>
<html lang="{{ .Language.Lang | default "ru" }}" itemscope itemtype="https://schema.org/WebPage">
{{ partial "head/head.html" . }}
{{ if eq .Kind "home" }}
    {{ .Scratch.Set "class" "home" }}
{{ else if eq .Kind "404" }}
    {{ .Scratch.Set "class" "404-page" }}
{{ else if eq .Kind "page" }}
    {{ .Scratch.Set "class" .Type }}
    {{ .Scratch.Add "class" " single" }}
{{ else }}
    {{ $type := replace .Type "/" " " }}
    {{ .Scratch.Set "class" $type }}
{{ end }}
<body class="{{ .Scratch.Get "class" }}">
<div class="wrapper">
    <div class="main">
        {{ block "main" . }}{{ end }}
    </div>
</div>
<script>
if (!window.CloudCannon) {
  document.addEventListener('cloudcannon:load', function (e) {
    console.log('CloudCannon load');
    onLiveEditorLoad(e.detail.CloudCannon);
  });
} else {
  console.log('Window');
  onLiveEditorLoad(window.CloudCannon);
}

function onLiveEditorLoad(CloudCannon) {
  CloudCannon.enableEvents();
}

document.addEventListener('cloudcannon:update', async function (e) {
  console.log('CloudCannon Update');
  
  const CloudCannon = e.detail.CloudCannon;
  const latestValue = await CloudCannon.value();
  console.log(latestValue);
  CloudCannon?.refreshInterface?.();
});

async function useNewPageProps(CloudCannon) {
  const latestValue = await CloudCannon.value();
  console.log(latestValue);
  CloudCannon.set('title', 'new title value');
}


</script>
</body>
</html>
