<!DOCTYPE html>
<html lang="{{ .Language.Lang | default "ru" }}" itemscope itemtype="https://schema.org/WebPage">
{{ partial "head/head.html" . }}
{{ if eq .Kind "home" }}
    {{ .Scratch.Set "class" "home" }}
{{ else if eq .Kind "404" }}
    {{ .Scratch.Set "class" "404-page" }}
{{ else if eq .Kind "page" }}
    {{ .Scratch.Set "class" .Type }}
    {{ .Scratch.Add "class" " single" }}
{{ else }}
    {{ $type := replace .Type "/" " " }}
    {{ .Scratch.Set "class" $type }}
{{ end }}
<body class="{{ .Scratch.Get "class" }}">
<div class="wrapper">
    <div class="main">
        {{ block "main" . }}{{ end }}
    </div>
</div>
<script>
document.addEventListener('cloudcannon:load', function (e) {
  onLiveEditorLoad(e.detail.CloudCannon);
});

function onLiveEditorLoad(CloudCannon) {
  CloudCannon.enableEvents();
}

document.addEventListener('cloudcannon:update', async function (e) {
  useNewPageProps(e.detail.CloudCannon);
});

async function useNewPageProps(CloudCannon) {
  const latestValue = await CloudCannon.value();
  
  console.log(latestValue);
}

</script>
</body>
</html>
