{{ define "main" }}
    {{ .Title }}
    {{ .Content }}
<div class="content-holder career-list">
    <div class="career-list-and-filter">
        <p>List:</p>
        {{ $careerPages := where .Site.RegularPages "Type" "careers" }}
        {{ $allKey := "all" }}
        <div class="career-list-holder">
            <div id="{{ $allKey }}" class="tab-content">
                {{ range $careerPages }}
                <p>{{ .Title }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
